# Import libraries

In [2]:

import pandas as pd

# Methods

In [3]:
'''
    # Method to set a max_change attribute in the dataframe
    # Takes the absolute max_change which is the highest absolute percent from row i Close
        to following week's row i+1 Low, High (which ever is higher in terms of magnitude of price change)
'''
def set_max_change(df):
    '''
        # ARGS:
            dataframe of stock prices containing Open, High, Low, Close, Volume
        # Returns:
            # Returns a new dataframe with max_change
    '''
    df['max_high_change'] = (df['High'] / df['Close'].shift(1) - 1).abs()
    df['max_low_change'] = (df['Low'] / df['Close'].shift(1) - 1).abs()
    df['max_change'] = df[['max_high_change', 'max_low_change']].max(axis=1) * 100

    # drop the intermediate columns if not needed
    df = df.drop(['max_high_change', 'max_low_change'], axis=1)
    return df

In [4]:
class Evaluate:
    def __init__(self):
        pass

    def add_call_cost(self, call_cost, call_sale):
        return call_cost - call_sale
    
    def add_put_cost(self, put_cost, put_sale):
        return put_cost - put_sale        
    
    def calc_percentage(self, starting_val, ending_val):
        difference = abs(ending_val - starting_val)
        percent_needed = (difference/starting_val) * 100
        return percent_needed
    
    def calc_break_even_upside(self, call_strike, call_cost):
        return call_strike + call_cost       
    
    def calc_break_even_downside(self, put_strike, put_cost):
        return put_strike - put_cost

    def calpercent_move(self, starting_val, ending_val):
        _difference = abs(starting_val - ending_val)
        _difference = (_difference/starting_val) * 100
        return _difference
    
    def find_probability(self, df, move_needed, attr="max_change"):
        _goodTrade = 0
        for i in range(1, len(df)):
            if df.iloc[i][attr] >= move_needed:
                _goodTrade += 1
        return _goodTrade

In [5]:
df = pd.read_csv("AAPL.csv") # read in csv file
df = set_max_change(df) # set the max changes

In [6]:
df.head()

        Close        High         Low        Open     Volume  max_change
0  122.105629  125.741073  122.046837  123.477494  357615000         NaN
1  123.359901  123.624479  120.655369  122.566183  278314500    1.243882
2  124.790565  125.878265  122.321215  123.634280  327048100    2.041477
3  127.838058  129.886051  124.516183  125.251110  457142800    4.083229
4  130.434784  131.934033  126.613171  127.681261  354155800    3.204034